

/*---------------------DISEÑO REPONSIVO: ESCRITORIO-----------------------*/
.contenedorTemaCel {
    display:none;
}

.ListTema1,.ListTema2,.ListTema3{
    display: none;
}

.subSeccion{
    display:none;
}

.header{

    width: 100%;
    height: 3rem;
    text-align: left;
    z-index: 2;
    font-size: 1rem;
        
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
    padding-bottom: none;
    
}

/*nav*/
        .imagen{
            display: inline-block;
            position: relative;
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 50%;
            outline: 1px solid red;
        }
        .imagen img{
            width: auto;
            height: 100%;
            position: absolute;
            
        }

        .imagen #fondo{
            z-index: 0;
            margin-left:-50px;
        }
        
        .imagen #feliz{
            
            margin: left 0;
            z-index: 3;
            
        }

                        .imagen #feliz:hover{
                            display: none;
                        }
        
        .imagen #serio{
            margin: left 0;
            z-index: 2;
            
        }

        .imagen #cry{
            
            margin: left 0;
            z-index: 1;
            
        }




                        .divlogo *{
                            font-family: 'Lucida Console', cursive;
                            font-size: 3rem;
                            flex-grow: 2;
                            flex-shrink: 3; 
                        }
                        .divlogo #random-logo{
                            
                            padding-left: 0px;
                            color: rgb(212, 205, 205);
                            display: inline;
                            padding-right:0rem;
                        }

                        .divlogo #developer-logo{
                            
                            padding-left: 0px;
                            color: rgb(212, 205, 205);
                            display: inline;
                            padding-right:0rem;
                        }

                        .divlogo #ayuda-logo{
                            
                            padding-left: 0px;
                            color: rgb(212, 205, 205);
                            display: inline;
                            padding-right:0rem;
                        }

        .nav{
            
            height: 5rem;
            background-color: gray;
            outline: 3px solid;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: rgb(92, 40, 40);
        }

        .nav a{
            text-decoration: none;
        }


.menunav, .noselección, .selección{
    display: inline;
    margin-right: 3rem;
    font-size: 1.5rem;
    
}





.selección a{
    color:rgb(251, 255, 252);
}

nav a,.noselección a{
    color:rgb(10, 9, 10);
}

.grid{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3rem;
}
.contenidos{
    outline: black solid;
    padding: 0.25rem;
}



.contenidos:hover{
    outline: indigo solid;
}

.unidad1,.unidad2,.unidad3,.unidad4,.unidad5,.unidad6{
    margin-top: 0.2rem;
    padding: 1px;
}
.unidadv{
color: red;
}

.seccionA,.seccionB,.seccionC{
    border: white solid;
    
    
}

.seccionA:hover,.seccionB:hover,.seccionC:hover{
    /*border: rgb(211, 5, 5) solid;*/
    list-style-image: url("img/java1.png");
    
}

.seccionA,.seccionB,.seccionC { list-style-image: url("img/java0.png"); }


.unidad1c,.unidad2c,.unidad3c,.unidad4c,.unidad5c,.unidad6c, .unidad7c,.unidad8c,.unidad9c{
    display:none;
}
.desarrollo{
    
    outline: black solid;
    padding: 2rem;
    margin-left: 1rem;   
    
}

.textdesarrollo{
    font-size: 2rem
}

.contenidos a:hover{
    color: red;
}

/*.............................................Video de ejercicios.........................................*/
.video{
  
    display: block;
    margin-left: 20%;
}

/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/


.menuicon{
    display: none;
}

.selección, .noselección{
    display: inline;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 3rem;
    border-bottom: none;
}

.selección{
    background-color: rgba(4, 4, 8, 0.2);
    border:solid;
    border-color: black;
    border-radius: 10px;
    z-index: 0;
    opacity: 0.8;
    background-color: none;
    height: 3rem;
    align-self:flex-end;
}
.selección:hover{
    border-color: red;
}

.noselección:hover{
    border: solid;
    border-color: rgb(8, 8, 8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.5rem;
    border-bottom: none;
    margin-top: 0rem;
}

.noselección:hover a{
    text-decoration: 10px;
    color: whitesmoke;

}

/*


.footer{
    background-color: rgb(26, 25, 25);
    width: 100%;
    border-top:solid;
    border-bottom: solid;
    border-top-color:black;
    text-align: center;
    margin-top: 2rem;
}


.about {
    display: inline-block;    
    margin: 1rem;
    text-align: center;
    padding-left: 2rem;
}

.footer .about a{
    display: block;
    padding: 1rem;
}

.footer .about a:hover{
    transform: scale(1.2);
    color:red;
    
}

/*

/*------------------------------------------RESPONSIVE-------------------------------------*/

/*---------------------415px--------------------------------*/

@media screen and (max-width: 415px){
    
    .header{
        height: 5rem;
    }


    .divlogo{
        display: inline;
        position: absolute;
        margin-bottom: 1rem;
        margin-bottom: 0.6rem;
        padding-right: 0rem;
        
    }
    .divlogo *{
        font-family: "consola";
        font-size: 1.5rem;
    }


    .logo{
        margin-left: 20px;
        padding-right: 0px;
    }
    .menuicon{
        display: inline;
    }
    .menuicon p{
        font-size: 1rem;
        display: inline;
        padding-left: 2rem;
    }
    
    .nav{
        height: 5rem;
        display: flex;
        /*kkkkkkkkkkkkkkkkkkkkkkk*/
        

    }
    
    
    .menunav{
    margin-right: 0rem;
     display: none;
    }

    .menunav div a{
    font-size: 0.55rem;

    }

    .selección-text, .noselección-text{
        font-size: 13px;
        padding-top: 0.1rem;
    }

    .selección-text{
        font-size: 15px;
    }


    .selección, .noselección{
        font-size: 1rem;
        padding-top: 0.1rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .noselección:hover{
        padding-top: 0.1rem;

    }

    .grid{
        display: grid;
        grid-template-columns: none;
    }

    .contenidos{
        height: auto;
        display: none;
    }
    ul{
        margin: 0rem;
    }

    .desarrollo{
        margin-left: 0rem;
        margin-top: 0rem;
        height: auto;

    }

    /**/
}



/*------------------------------------------------------500-1000 pixeles-------------------*/

@media screen and (min-width: 500px) and ( max-width: 1000px){

    .divlogo{
        display: inline;
        padding-right: 2rem;
        
    }
    .logo {
        padding-right: 0.2rem;
    }
   
    .header{
        height: 3rem;
    }

    .menunav{
        margin-right:0rem;
    }
    
    .nav {
        width: 100%;
        display: flex;
    }

    .nav a {
        font-size:1rem;
    }

    .selección, .noselección{
        padding-top: 0rem;
        padding-left: 0.20rem;
        padding-right: 0.20rem;
        font-size:2rem;
    }

    .noselección:hover{
        padding-top: 0rem;
    }
/*...............................................ContenedorTemaCel........2............................................................*/
    


    .contenedorTemaCel{/*div que contiene*/
        display: flex;
        outline: 3px solid;
        margin-top: 3rem;
        overflow: hidden;
        position: relative;
        

    }

    .titleSeccionCel{/*el nombre del div que contiene el h3 del nombre de la seccion*/
        flex-flow: row;
        flex-grow: 1;
        
    }

    .titleSeccionCel h3{
        text-align: center;
        color: white;
    }

    #imgcel2{
        position: absolute;
        width: 100%;
        margin: auto;
        
        z-index: -10;
    }

/*...............................................ListTema1,2,3........3............................................................*/
    
    .ListTemas{/*div que contiene los temas*/
        
        
        outline: solid;
        margin-top: 16px;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;/*los elemento HIJOS se colocan en varias lineas*/
        column-gap: 3;
     
       
      

    }

    .temaCel{/*div que contiene los H3*/

        flex-wrap: nowrap;/*especifica si lo elementos HIJOS son obligados a permanecer en una sola linea*/
        /*wrap= los elemento HIJOS se colocan en varias lineas*/
        /*nowrap= los elemento HIJOS NO se colocan en varias lineas*/
        
    }

    .temaCel h4{/*div que contiene el H3 con elnombre del tema*/
       display: inline;
       height: auto;
       background-color: red;
       
    
        
       
    }


    .unidada,.unidadb,.unidadc,.unidadd,.unidade,.unidadf, .expectativasexp, .bibliografiabi{
        display: inline-block;
        margin-left: 1rem;
        font-size: 0.8rem;
    }



    .contenidosdes{
        outline: 3px solid;
        display:block;
    }

/*...........................................................................................................*/

    .grid{
        display:inline;
    }

    .contenidos{
        display: none;
    }

    .desarrollo{
        margin-top: 1rem;
        margin-left: 0rem;
        display: none;
    }

}

/*codido java*/

.ejercicio{
font-family:"Roboto Mono",monospace ;
}    
.codigojava{
    border: solid;
    border-color: greenyellow;
    background-color: rgb(209, 199, 199);
    
    
    font-family: "SF Mono","Roboto Mono",monospace;
}

.textblue{
    color: rgb(3, 3, 102);
}

.textorange{
    color: rgb(189, 124, 3);
}
.textgreen{
    color: rgb(3, 94, 3);
}

.textgray{
    color: gray;
}