
.contenidoswiev{
    display:none;
}

.contenidosdes{
    display:none;
}

.header{

    width: 100%;
    height: 3rem;
    text-align: center;
    z-index: 2;
    font-size: 1rem;
        
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
    padding-bottom: none;
    
}

.nav{
    height: 3rem;
    background-color: gray;
    outline: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 90);
}

.nav a{
    text-decoration: none;
}


.menunav, .noselección, .selección{
    display: inline;
    margin-right: 3rem;
    font-size: 1.5rem;
    
}

.divlogo {
    font-family: 'Rampart One', cursive;
    padding-left: 0px;
    color: rgb(212, 205, 205);
    font-size: 1rem;
    display: inline;
    padding-right:5rem;
}

.divlogo{
    font-size: 2rem;
    
}

.selección a{
    color:rgb(251, 255, 252);
}

nav a,.noselección a{
    color:rgb(10, 9, 10);
}

.grid{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3rem;
}
.contenidos{
    outline: black solid;
    padding: 0.25rem;
}

.contenidos h4{
    margin: 5px;
}

.contenidos:hover{
    outline: indigo solid;
}

.unidad1,.unidad2,.unidad3,.unidad4,.unidad5,.unidad6{
    margin-top: 0.2rem;
    padding: 1px;
}

.unidad1:hover,.unidad2:hover,.unidad3:hover,.unidad4:hover,.unidad5:hover,.unidad6:hover,.bibliografia:hover{
    border: springgreen solid;
    
}

.unidad1c,.unidad2c,.unidad3c,.unidad4c,.unidad5c,.unidad6c, .bibliografiac{
    display:none;
}
.desarrollo{
    
    outline: black solid;
    padding: 2rem;
    margin-left: 1rem;   
    
}

.textdesarrollo{
    font-size: 2rem
}

.contenidos a:hover{
    color: red;
}



/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/


.menuicon{
    display: none;
}

.selección, .noselección{
    display: inline;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 3rem;
    border-bottom: none;
}

.selección{
    background-color: rgba(4, 4, 8, 0.2);
    border:solid;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: white;
    z-index: 0;
    opacity: 0.8;
    background-color: none;
    height: 3rem;
}

.noselección:hover{
    border: solid;
    border-color: rgb(8, 8, 8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.5rem;
    border-bottom: none;
    margin-top: 0rem;
}

.noselección:hover a{
    text-decoration: 10px;
    color: whitesmoke;

}

/*


.footer{
    background-color: rgb(26, 25, 25);
    width: 100%;
    border-top:solid;
    border-bottom: solid;
    border-top-color:black;
    text-align: center;
    margin-top: 2rem;
}


.about {
    display: inline-block;    
    margin: 1rem;
    text-align: center;
    padding-left: 2rem;
}

.footer .about a{
    display: block;
    padding: 1rem;
}

.footer .about a:hover{
    transform: scale(1.2);
    color:red;
    
}

/*

/*------------------------------------------RESPONSIVE-------------------------------------*/

/*---------------------415px--------------------------------*/

@media screen and (max-width: 415px){
    
    .header{
        height: 3rem;
    }


    .divlogo{
        display: inline;
        margin-bottom: 1rem;
        margin-bottom: 0.6rem;
        padding-right: 0rem;
    

    }

    .logo{
        margin-left: 20px;
        padding-right: 0px;
    }
    .menuicon{
        display: inline;
    }
    .menuicon p{
        font-size: 1rem;
        display: inline;
        padding-left: 2rem;
    }
    
    .nav{
        height: 3rem;
        display: grid;
        grid-template-columns: 90% 50%;
        display: block;

    }
    
    
    .menunav{
    margin-right: 0rem;
     display: none;
    }

    .menunav div a{
    font-size: 0.55rem;

    }

    .selección-text, .noselección-text{
        font-size: 13px;
        padding-top: 0.1rem;
    }

    .selección-text{
        font-size: 15px;
    }


    .selección, .noselección{
        font-size: 1rem;
        padding-top: 0.1rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .noselección:hover{
        padding-top: 0.1rem;

    }

    .grid{
        display: grid;
        grid-template-columns: none;
    }

    .contenidos{
        height: auto;
        display: none;
    }
    ul{
        margin: 0rem;
    }

    .desarrollo{
        margin-left: 0rem;
        margin-top: 0rem;
        height: auto;

    }
}



/*------------------------------------------------------500-1000 pixeles-------------------*/

@media screen and (min-width: 500px) and ( max-width: 1000px){

    .divlogo{
        display: inline;
        padding-right: 2rem;
        
    }
    .logo {
        padding-right: 0.2rem;
    }
   
    .header{
        height: 3rem;
    }

    .menunav{
        margin-right:0rem;
    }
    
    .nav {
        width: 100%;
        display: block;
    }

    .nav a {
        font-size:1rem;
    }

    .selección, .noselección{
        padding-top: 0rem;
        padding-left: 0.20rem;
        padding-right: 0.20rem;
        font-size:2rem;
    }

    .noselección:hover{
        padding-top: 0rem;
    }
/*...........................................................................................................*/
    .contenidoswiev{
        display: block;
        outline: 3px solid;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }

    .unidada,.unidadb,.unidadc,.unidadd,.unidade,.unidadf, .expectativasexp, .bibliografiabi{
        display: inline-block;
        margin-left: 1rem;
        font-size: 0.8rem;
    }

    .contenidoswiev h4{
        margin: 0rem;
    }

    .contenidosdes{
        outline: 3px solid;
        display:block;
    }

/*...........................................................................................................*/

    .grid{
        display:inline;
    }

    .contenidos{
        display: none;
    }

    .desarrollo{
        margin-top: 1rem;
        margin-left: 0rem;
        display: none;
    }

}