
/*------------------------------------------RESPONSIVE-------------------------------------*/

/*---------------------570px--------------------------------*/

@media screen and (max-width: 570px){
    
    /*ocultamos LisTemas*/
    .ListTemas h3{
        display: none;
    }

    .menunavcel{/*ubicamos el menu nav cel*/
      
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;

    }




    .contenedorTemaCel{/*contiene los titulos de los temas*/
        display: flex;
        outline: 3px solid rgb(92, 40, 40);
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        margin-top: 0.5rem;
        justify-content: space-around;
        box-shadow: 0px 20px 15px rgb(20 14 5 / 50%);

    }
    .ListTemas{
        margin-top: 1rem;
        border-radius: 10px;
        outline: 3px solid rgb(92, 40, 40);
        height: 5rem;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0.5rem;
        box-shadow: 0px 20px 15px rgb(20 14 5 / 50%);
    }

    .temaCel{
        display: inline;
    }

    .temaCel h4 {
        display: inline;
        align-items: center;        
        font-size: 12px;
    }


    #imgcel2 {
        position: absolute;
        width: 100%;
        margin: auto;
        z-index: -10;
    }

    .titleSeccionCel {
        flex-flow: row;
        flex-grow: 1;
        text-align: center;
        
    }

    .titleSeccionCel{
        color:white;
    }


    .menunavcel .selección{
       flex-grow: 1;    /*flex-grow: la distribucion de la fila (el tamaño que ocupan en la fila)*/
        padding: 0rem;
        border-color:rgb(92, 40, 40);
        background-color: ghostwhite;
        align-items: center;
        box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
               
       
        
        
    }
    .selección:hover{
        border-color: red;
    }
    

    .menunavcel .selección a{

        text-decoration: none;
        color: black;
        text-align: center;
        
        
        
    }


    .header{
        height: 5rem;
    }

    
 
    .divlogo *{
        font-family: "consola";
        font-size: 1.3rem;
    }


    .logo{
        margin-left: 20px;
        padding-right: 0px;
    }

    .menuicon{
        display: inline;
    }
    .menuicon p{
        font-size: 1rem;
        display: inline;
        
    }
    
    .nav{
        height: 5rem;
        display: flex;
        align-items: center;
        /*kkkkkkkkkkkkkkkkkkkkkkk*/
        

    }
    
    
    .menunav{
    margin-right: 0rem;
     display: none;
    }

    .menunav div a{
    font-size: 0.55rem;

    }

    .selección-text, .noselección-text{
        font-size: 13px;
        padding-top: 0.1rem;
    }

    .selección-text{
        font-size: 15px;
    }


    .selección, .noselección{
        font-size: 1rem;
        padding-top: 0.1rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .noselección:hover{
        padding-top: 0.1rem;

    }


    .grid{
        display: grid;
        grid-template-columns: none;
        margin-top: 1rem;
    }

    .contenidos{
        height: auto;
        display: none;
    }
    ul{
        margin: 0rem;
    }

    
    /*PARTE DE LOS DESARROLLO*/
                    
                    .desarrollo{
                        margin-left: 0rem;
                        margin-top: 0rem;
                        height: auto;

                    }

                    .video{
                        margin-left: 0rem;
                    }
                    .video iframe{
                        width: 100%};
                    

    /**/
}