

/*------------------------------------------------------500-1000 pixeles-------------------*/

@media screen and (min-width: 570px) and ( max-width: 1000px){

  
   
    .header{
        height: 3rem;
    }

    .menunav{
        margin-right:0rem;
    }
    
    .nav {
        width: 100%;
        display: flex;
        gap:1rem;
    }

    .nav a {
        font-size:1rem;
    }
                        /*ACA inicio banner */

                        /*IMAGEN*/
                        .imagen{
                            flex-shrink: 0;
                        }
                        /*FLEX*/
                        .flex{
                            display: flex;
                            position: relative;
                            justify-content: space-around;
                            align-items: flex-end;
                            flex-grow: 2;
                            column-gap: 2vw;
                           
                            

                        }
                                /*LOGO*/

                                                .divlogo {
                                                    display: flex;
                                                    flex-grow: 2;
                                                    position: relative;
                                                    text-align: center;
                                                    justify-items: baseline;
                                                }
                                                                            .divlogo a{
                                                                                text-align: center;
                                                                            font-size: 3vw;
                                                                            }
                              
                                /*MENUNAVCEL*/
                                            .menunavcel{/*ubicamos el menu nav cel*/
                                                    
                                                position: relative;
                                                display: flex;
                                                flex-grow: 2;
                                            
                                                gap: 1rem;
                                                justify-content: space-around;

                                            }

                                                                        .menunavcel .selección{
                                                                            position: relative;
                                                                           
                                                                            display: flex;
                                                                            flex-grow: 1;    /*flex-grow: la distribucion de la fila (el tamaño que ocupan en la fila)*/
                                                                            border-color:rgb(92, 40, 40);
                                                                            align-items: center;                          
                                                                            overflow: hidden;
                                                                            justify-content: center;
                                                                            font-size: 1rem;
                                                                            box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
                                                                            border-radius: 10px;
                                                                            height: 2rem;
                                                                            max-width: 7rem;
                                                                            min-width: 5rem;
                                                                            
                                                                                
                                                                        }

                                                                    
                                                                        
                                                                        .menunavcel .selección a{
                                                                            position: absolute;
                                                                            display: inline;
                                                                            text-decoration: none;
                                                                            color: white;
                                                                            font-size: 1.17em;
                                                                            text-align: center;
                                                                            
                                                                        }
                                                                        #img{
                                                                            display: inline;
                                                                            position: relative;
                                                                            width: 100%;
                                                                            margin: auto;
                                                                            z-index: 0;
                                                                        }

                                                                        .selección:hover{
                                                                            border-color: red;
                                                                            color: rgba(2, 2, 2,0.4);
                                                                        }

                                                                    
                                                                        
                                        /*fin*/
/*...............................................ContenedorTemaCel........2............................................................*/
    


    .contenedorTemaCel{/*div que contiene los titulos de las SECCIONES POO INTRODUCCION ECT*/
        display: flex;
        outline: 3px solid;
        margin-top: 3rem;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 20px 15px rgb(20 14 5 / 50%);
        

    }

    .titleSeccionCel{/*el nombre del div que contiene el h3 del nombre de la seccion*/
        flex-flow: row;
        flex-grow: 1;
        
    }

    .titleSeccionCel h3{
        text-align: center;
        color: white;
    }

    #imgcel2{
        position: absolute;
        width: 100%;
        margin: auto;
        
        z-index: -10;
    }

/*...............................................ListTema1,2,3........3............................................................*/
    
    .ListTemas{/*div que contiene los temas*/
        
        
        outline: solid;
        margin-top: 16px;
        
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;/*los elemento HIJOS se colocan en varias lineas*/
        column-gap: 3;
     
       
      

    }

    .temaCel{/*div que contiene los H3*/

        flex-wrap: nowrap;/*especifica si lo elementos HIJOS son obligados a permanecer en una sola linea*/
        /*wrap= los elemento HIJOS se colocan en varias lineas*/
        /*nowrap= los elemento HIJOS NO se colocan en varias lineas*/
        
    }
    
    .temaCel{
        display: inline;
    }

    .temaCel h4{/*div que contiene el H3 con elnombre del tema*/
       display: inline;
       height: auto;
       
       
    
        
       
    }




    .contenidosdes{
        outline: 3px solid;
        display:block;
    }

/*...........................................................................................................*/

    .grid{
        display:inline;
    }

    .contenidos{
        display: none;
    }

    .desarrollo{
        margin-top: 1rem;
        margin-left: 0rem;
     
    }

}

/*codido java*/

.ejercicio{
font-family:"Roboto Mono",monospace ;
}    
.codigojava{
    border: solid;
    border-color: greenyellow;
    background-color: rgb(209, 199, 199);
    
    
    font-family: "SF Mono","Roboto Mono",monospace;
}

.textblue{
    color: rgb(3, 3, 102);
}

.textorange{
    color: rgb(189, 124, 3);
}
.textgreen{
    color: rgb(3, 94, 3);
}

.textgray{
    color: gray;
}