
.contenedorTemaCel {
    display:none;
}

.ListTemas {
    display: none;
}

.temaCel{
    display: none;
}


.subSeccion{
    display:none;
}


.header{

    width: 100%;
    height: 6rem;
    text-align: left;
    
   
        
    text-decoration: none;
   
    padding-bottom: none;
    
}
.container{
    border: 2px solid red;
    
}

/*nav*/
        .imagen{
            display: inline-block;
            position: relative;
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 50%;
            outline: 1px solid red;
            box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
        }

        .imagen:hover{
            outline: 2px solid red;
            
        }

        .imagen img{
            width: auto;
            height: 100%;
            position: absolute;
            
        }

        .imagen #fondo{
            z-index: 0;
            margin-left:-50px;
        }
        
        .imagen #feliz{
            
            margin: left 0;
            z-index: 3;
            
        }

                        .imagen #feliz:hover{
                            display: none;
                        }
        
        .imagen #click{/*serio*/
            margin: left 0;
            z-index: 2;
            
        }

        .imagen #hover{/*guinio*/
            
            margin: left 0;
            z-index: 1;
            
        }

                            /*ACA inicio banner */

                            /*nav*/
                            
                            .nav{
                                
                                height: 5rem;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                
                            }

                            .nav a{
                                text-decoration: none;
                            }


                                    /*imagen*/

                                    /*flex*/
                                    .flex{
                                        display: flex;
                                        position: relative;
                                        justify-content: space-around;
                                        column-gap: 2rem;
                                        align-items: center;

                                    }
                                            /*logo*/
                                                
                                                    .divlogo {
                                                        font-family: 'Console', cursive;
                                                        font-size: 1.7rem;
                                                        flex-grow: 2;/*tamaño relativo*/
                                                        padding-left: 0px;
                                                        display: inline;
                                                        padding-right:0rem;
                                                        
                                                    }
                                                    .divlogo p{
                                                        margin: 0rem;
                                                        font-family: monospace;
                                                    }
                                                    #logo{
                                                        color: white;
                                                        text-decoration: none;
                                                    }
/*decoracion del LOGO*/

.divlogo p{
    
    text-shadow: 0 0 5px black, 0 0 6px black,0 0 7px black,0 0 8px black;
}
#logo:hover{color: chocolate; cursor: pointer;}
                                                    
                                                                    
                                            /*menunavecel*/


                                            .menunavcel{/*ubicamos el menu nav cel*/
                                                display: flex;
                                                position: relative;
                                                justify-content: space-around;
                                            }

                                                                    .menunavcel .selección{
                                                                        flex-grow: 1;    /*flex-grow: la distribucion de la fila (el tamaño que ocupan en la fila)*/
                                                                        padding: 0rem;
                                                                        outline-color:3px solid red;
                                                                        /*background-color: ghostwhite;*/
                                                                        align-items: center;
                                                                        box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
                                                                        overflow: hidden;
                                                                        position: relative;
                                                                        display: flex;
                                                                        justify-content: center;

                                                                    
                                                                            
                                                                    }

                                                                    .menunavcel .selección:hover{
                                                                        border:2px solid;
                                                                        color: black;
                                                                        
                                                                    }

                                                                    .selección:hover .colora{
                                                                        color: chocolate;
                                                                    }
                       
                                                                    .menunavcel .selección a{
                                                                        display: flex;
                                                                        position: absolute;
                                                                        text-decoration: none;
                                                                        
                                                                        font-size: 1.17em;
                                                                        text-align: center;
                                                                        
                                                                    }
                                                                    #img{
                                                                        display: flex;
                                                                        position: relative;
                                                                        width: 100%;
                                                                        margin: auto;
                                                                        z-index: 0;
                                                                    }

                                                               


.titleSeccionCel:Hover h3{
    color: chocolate;
}


                        /******************seccion de ********************/

                    .grid{
                        display: grid;
                        grid-template-columns: 25% 75%;
                        
                    }
                    .contenidos{
                        outline: black solid;
                        padding: 0.25rem;
                        
                    }

                    .contenidos:hover{
                        outline: orange solid;
                        box-shadow: 0 0 10px red;
                    }
                    .desarrollo:hover{
                        outline: orange solid;
                        box-shadow: 0 0 10px red;
                    }

                                    /*contenidos configuracion h4 etc*/

                                    .modH4{
                                        margin: 0rem;
                                        padding: 0rem;
                                    }

                                    .seccion h4{
                                        font-size: 1.1rem;
                                        text-align: center;
                                        font-family: monospace;
                                        color: orange;
                                        text-shadow: 0 0 6px black, 0 0 7px black, 0 0 8px black;
                                        
                                    }
                                    .seccion h4:hover{cursor:default;}
                                    


.seccionA,.seccionB,.seccionC{/*queda bien separado*/
    border: white solid;
    
    
}

.titleSeccionCel:Hover{
    background-Color:rgba(2, 2, 2,0.4);
}

.seccionA:hover,.seccionB:hover,.seccionC:hover{
    /*border: rgb(211, 5, 5) solid;*/
    list-style-image: url("../img/javaColor.png");
    color: rgb(68, 59, 202);
    
}

.seccionA,.seccionB,.seccionC { list-style-image: url("../img/javaNegro.png"); }
.seccionA,.seccionB,.seccionC {cursor: pointer}



.desarrollo{
    
    outline: black solid;
    padding: 2rem;
    margin-left: 1rem;  
    
    
}

.textdesarrollo{
    font-size: 2rem
}

.contenidos a:hover{
    color: red;
}

/*.............................................Video de ejercicios.........................................*/
.video{
  
    display: block;
    margin-left: 20%;
}
