
.contenedorTemaCel {
    display:none;
}

.ListTemas {
    display: none;
}

.temaCel{
    display: none;
}


.subSeccion{
    display:none;
}


.header{

    width: 100%;
    height: 3rem;
    text-align: left;
    z-index: 2;
   
        
    text-decoration: none;
   
    padding-bottom: none;
    
}

/*nav*/
        .imagen{
            display: inline-block;
            position: relative;
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 50%;
            outline: 1px solid red;
            box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
        }
        .imagen img{
            width: auto;
            height: 100%;
            position: absolute;
            
        }

        .imagen #fondo{
            z-index: 0;
            margin-left:-50px;
        }
        
        .imagen #feliz{
            
            margin: left 0;
            z-index: 3;
            
        }

                        .imagen #feliz:hover{
                            display: none;
                        }
        
        .imagen #click{/*serio*/
            margin: left 0;
            z-index: 2;
            
        }

        .imagen #hover{/*guinio*/
            
            margin: left 0;
            z-index: 1;
            
        }

                            /*ACA inicio banner */

                            /*nav*/
                            
                            .nav{
                                
                                height: 5rem;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                
                            }

                            .nav a{
                                text-decoration: none;
                            }


                                    /*imagen*/

                                    /*flex*/
                                    .flex{
                                        display: flex;
                                        position: relative;
                                        justify-content: space-around;
                                        column-gap: 2rem;
                                        align-items: flex-end;

                                    }
                                            /*logo*/
                                                
                                                    .divlogo {
                                                        font-family: 'Console', cursive;
                                                        font-size: 1.7rem;
                                                        flex-grow: 2;/*tamaño relativo*/
                                                        flex-shrink: 0;
                                                        padding-left: 0px;
                                                        display: inline;
                                                        padding-right:0rem;
                                                        
                                                    }
                                                    .divlogo a{
                                                        color: black;
                                                        text-decoration: none;
                                                    }

                                                    
                                                                    
                                            /*menunavecel*/


                                            .menunavcel{/*ubicamos el menu nav cel*/
                                                display: flex;
                                                position: relative;
                                                justify-content: space-around;
                                            }

                                                                    .menunavcel .selección{
                                                                        flex-grow: 1;    /*flex-grow: la distribucion de la fila (el tamaño que ocupan en la fila)*/
                                                                        padding: 0rem;
                                                                        border-color:rgb(92, 40, 40);
                                                                        /*background-color: ghostwhite;*/
                                                                        align-items: center;
                                                                        box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
                                                                        overflow: hidden;
                                                                        position: relative;
                                                                        display: flex;
                                                                        justify-content: center;
                                                                    
                                                                            
                                                                    }

                                                                    .menunavcel .selección:hover{
                                                                        border:2px solid;
                                                                        color: red;
                                                                        
                                                                    }

                                                                    
                                                                    .menunavcel .selección a{
                                                                        display: flex;
                                                                        position: absolute;
                                                                        text-decoration: none;
                                                                        color: white;
                                                                        font-size: 1.17em;
                                                                        text-align: center;
                                                                        
                                                                    }
                                                                    #img{
                                                                        display: flex;
                                                                        position: relative;
                                                                        width: 100%;
                                                                        margin: auto;
                                                                        z-index: 0;
                                                                    }

                                                                    .selección:hover{
                                                                        border-color: red;
                                                                        color: rgba(2, 2, 2,0.4);
                                                                    }





                        /******************seccion de ********************/

                    .grid{
                        display: grid;
                        grid-template-columns: 25% 75%;
                        margin-top: 3rem;
                    }
                    .contenidos{
                        outline: black solid;
                        padding: 0.25rem;
                        
                    }

                    .contenidos:hover{
                        outline: indigo solid;
                    }

                                    /*contenidos configuracion h4 etc*/

                                    .modH4{
                                        margin: 0rem;
                                        padding: 0rem;
                                    }

                                    .seccion h4{
                                        text-align: center;
                                    }


.seccionA,.seccionB,.seccionC{/*queda bien separado*/
    border: white solid;
    
    
}

.titleSeccionCel:Hover{
    background-Color:rgba(2, 2, 2,0.4);
}

.seccionA:hover,.seccionB:hover,.seccionC:hover{
    /*border: rgb(211, 5, 5) solid;*/
    list-style-image: url("../img/javaColor.png");
    color: red;
    
}

.seccionA,.seccionB,.seccionC { list-style-image: url("../img/javaNegro.png"); }
.seccionA,.seccionB,.seccionC {cursor: pointer}



.desarrollo{
    
    outline: black solid;
    padding: 2rem;
    margin-left: 1rem;  
    
    
}

.textdesarrollo{
    font-size: 2rem
}

.contenidos a:hover{
    color: red;
}

/*.............................................Video de ejercicios.........................................*/
.video{
  
    display: block;
    margin-left: 20%;
}
