/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-tricks*/

/*---------------------DISEÑO REPONSIVO: ESCRITORIO-----------------------*/
.contenedorTemaCel {
    display:none;
}

.ListTemas {
    display: none;
}

.temaCel{
    display: none;
}


.subSeccion{
    display:none;
}

.menunavcel{
    display: none;
}

.header{

    width: 100%;
    height: 3rem;
    text-align: left;
    z-index: 2;
    font-size: 1rem;
        
    text-decoration: none;
   
    padding-bottom: none;
    
}

/*nav*/
        .imagen{
            display: inline-block;
            position: relative;
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 50%;
            outline: 1px solid red;
            box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
        }
        .imagen img{
            width: auto;
            height: 100%;
            position: absolute;
            
        }

        .imagen #fondo{
            z-index: 0;
            margin-left:-50px;
        }
        
        .imagen #feliz{
            
            margin: left 0;
            z-index: 3;
            
        }

                        .imagen #feliz:hover{
                            display: none;
                        }
        
        .imagen #serio{
            margin: left 0;
            z-index: 2;
            
        }

        .imagen #cry{
            
            margin: left 0;
            z-index: 1;
            
        }




                        .divlogo *{
                            font-family: 'Lucida Console', cursive;
                            font-size: 2rem;
                            flex-grow: 2;
                            flex-shrink: 3; 
                        }
                        .divlogo #random-logo{
                            
                            padding-left: 0px;
                            color: black;
                            display: inline;
                            padding-right:0rem;
                        }

                        .divlogo #developer-logo{
                            
                            padding-left: 0px;
                            color: black;
                            display: inline;
                            padding-right:0rem;
                        }

                        .divlogo #ayuda-logo{
                            
                            padding-left: 0px;
                            color: black;
                            display: inline;
                            padding-right:0rem;
                        }

        .nav{
            
            height: 5rem;
           
            
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        .nav a{
            text-decoration: none;
        }


.menunav, .noselección, .selección{
    display: inline;
   
    
}





.selección a{
    color:rgb(251, 255, 252);
}

nav a,.noselección a{
    color:rgb(10, 9, 10);
}

                    .grid{
                        display: grid;
                        grid-template-columns: 25% 75%;
                        margin-top: 3rem;
                    }
                    .contenidos{
                        outline: black solid;
                        padding: 0.25rem;
                        
                    }

                    .contenidos:hover{
                        outline: indigo solid;
                    }

                                    /*contenidos configuracion h4 etc*/

                                    .modH4{
                                        margin: 0rem;
                                        padding: 0rem;
                                    }

                                    .seccion h4{
                                        text-align: center;
                                    }
.unidad1,.unidad2,.unidad3,.unidad4,.unidad5,.unidad6{
    margin-top: 0.2rem;
    padding: 1px;
}
.unidadv{
color: red;
}

.seccionA,.seccionB,.seccionC{
    border: white solid;
    
    
}

.seccionA:hover,.seccionB:hover,.seccionC:hover{
    /*border: rgb(211, 5, 5) solid;*/
    list-style-image: url("../img/javaColor.png");
    
}

.seccionA,.seccionB,.seccionC { list-style-image: url("../img/javaNegro.png"); }


.unidad1c,.unidad2c,.unidad3c,.unidad4c,.unidad5c,.unidad6c, .unidad7c,.unidad8c,.unidad9c{
    display:none;
}
.desarrollo{
    
    outline: black solid;
    padding: 2rem;
    margin-left: 1rem;  
    
    
}

.textdesarrollo{
    font-size: 2rem
}

.contenidos a:hover{
    color: red;
}

/*.............................................Video de ejercicios.........................................*/
.video{
  
    display: block;
    margin-left: 20%;
}

/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/
/*------------------------------------------------------------------RESPONSIVE------------------------------------*/


.menuicon{
    display: none;
}

.selección, .noselección{
    display: inline;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 3rem;
    border-bottom: none;
    box-shadow: 0px 20px 15px rgb(20 14 5 / 50%);
}

.selección{
    background-color: rgba(4, 4, 8, 0.2);
    border:solid;
    border-color: black;
    border-radius: 10px;
    z-index: 0;
    opacity: 0.8;
    background-color: none;
    height: 3rem;
    align-self:flex-end;
}
.selección:hover{
    border-color: red;
}

.noselección:hover{
    border: solid;
    border-color: rgb(8, 8, 8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.5rem;
    border-bottom: none;
    margin-top: 0rem;
}

.noselección:hover a{
    text-decoration: 10px;
    color: whitesmoke;

}

/*


.footer{
    background-color: rgb(26, 25, 25);
    width: 100%;
    border-top:solid;
    border-bottom: solid;
    border-top-color:black;
    text-align: center;
    margin-top: 2rem;
}


.about {
    display: inline-block;    
    margin: 1rem;
    text-align: center;
    padding-left: 2rem;
}

.footer .about a{
    display: block;
    padding: 1rem;
}

.footer .about a:hover{
    transform: scale(1.2);
    color:red;
    
}

/*


